@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

body {
    background-color: white;
}

.form-control {
    border-color: #0d6efd;
    border-width: 2px;
}

label {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.navbar {
    color: white;
}

.navbar .nav-link {
    margin-right: 1rem;
}

.nav-link:hover {
    opacity: 0.7;
}

.container-fluid {
    min-height: 85vh;
    margin: 0;
}