@import '~bootstrap';
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import '~datatables.net-bs5';

body {
    background-color: white;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, label, th, header, footer {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

#tasksTable {
    margin-top: 10rem;
}

#tasksTable td {
    text-align: center;
}

#tasksTable th {
    text-align: center;
}

.img-fluid {
    max-width: 33%;
    height: auto;
}

.timeCostsTable {
    margin-top: 10rem;
}

.form-control {
    border-color: #0d6efd;
    border-width: 2px;
}

.formSmallInput {
    width: 15%;
}

.nonResize {
    resize: none;
}

.navbar {
    color: white;
}

.navbar .nav-link {
    margin-right: 1rem;
}

.nav-link:hover {
    opacity: 0.7;
}

.container-fluid {
    min-height: 85vh;
    margin: 0;
}

.taskDescription {
    border: solid #ccc 1px;
}

.commentBlock {
    border: solid #ccc 1px;
    padding: 0;
}

.commentTop {
    background-color: #74C0FC;
}

#edit {
    display: none;
}

.mr {
    margin-right: 10px;
}

.ml {
    margin-left: 10px;
}