<!DOCTYPE html>
<html>
        {% block body %}
            {% include 'header.html.twig' %}
            <div class="container-fluid p-4">
                <h2>Домашняя страница</h2>
                <br>
                <p>Добро пожаловать в систему управления задачами.</p>
            </div>

            {% include 'footer.html.twig' %}
        {% endblock %}
</html>
